.navigation {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #000000;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

li a {
  text-decoration: none;
  font-size: 15px;
  color:  rgb(0, 255, 242);
};

li a:visited {
  color:  rgb(0, 255, 242);
}