@media only screen and (max-width: 992px) {
  .profile-links{
    color: white;
  }

  .profile-section{
    width: 100%;
    font-size: 1.2em;
    color: white;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 991px) {
  .profile-links{
    color: white;
  }

  .profile-section{
    width: 35%;
    font-size: 1.2em;
    color: white;
    float: left;
    margin-top: 50px;
  }
}